{{ define "create" }}
{{ template "head" }}

<div class="card">
	<div class="card-header">
		Empleados
	</div>
	<div class="card-body">
		<form action="/insert" method="POST">
			<div class="form-group">
				<label for="nombre" class="form-label">Nombre</label>
				<input type="text" id="nombre" placeholder="nombre ..." class="form-control" name="nombre" />
			</div>
			<div class="form-group">
				<label for="correo" class="form-label">Correo</label>
				<input type="email" id="correo" class="form-control" placeholder="correo ..." name="correo" />
			</div>
			<button type="submit" class="btn btn-primary mt-4">Agregar nuevo empleado</button>
		</form>
	</div>
</div>

{{ template "footer" }}
{{ end }}
