{{ define "edit" }}
{{ template "head" }}

<div class="card">
	<div class="card-header">
		Empleado {{ .Id }}
	</div>
	<div class="card-body">
		<form action="/update" method="POST">
      <!-- Id employee -->
      <input class="form-control" id="id" hidden type="text" name="id" value="{{ .Id }}" />

      <div class="form-group mb-2">
				<label for="nombre" class="form-label">Nombre:</label>
				<input type="text" id="nombre" value="{{ .Name }}" placeholder="nombre ..." class="form-control" name="nombre" />
			</div>
			<div class="form-group mb-2">
				<label for="correo" class="form-label">Correo:</label>
				<input type="email" id="correo" class="form-control" value="{{ .Email }}" placeholder="correo ..." name="correo" />
			</div>
			<button type="submit" class="btn btn-primary mt-4">Modificar empleado</button>
		</form>
	</div>
</div>

{{ template "footer" }}
{{ end }}
